# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local data/logs
dmc_inventory.db
inventory.log

# Streamlit
.streamlit/

# OS files
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/


